#memory--group{
    width: 850px;
    height: auto;
    background-color: teal;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    perspective: 1000px;
    transition: 0.5s;
}

h1{
    text-align: center;
}

img{
    width: 250px;
    height: auto;
    padding: 15px;
}

.box{
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.box.flipper{
    transform: rotateY(180deg);
}

span{
    width: 250px;
    margin: 15px;
    transform: rotateY(180deg);
}

